body {
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    margin: 0px;
    padding: 0;
    overflow: hidden;
}

/* Position the button VR on the bottom of the page. */
#ui {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Karla', sans-serif;
    z-index: 1;
}

a#magic-window {
    display: block;
    color: white;
    margin-top: 1em;
}